.navStyling{
    width: 100%;
    height: 150px;

}

.linkStyling{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
}

h2{
    color: blueviolet;
    text-align: center;

}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    color: aqua;
    list-style: none;
    justify-content: flex-start;
}

.itemSetup{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.headerStyles{
    font-size: 25px;
    color: brown;
}

.boxSize{
    width: 35px;
}

.butSubSize{
    width: 85px;
}

.itemCounter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}