
h2{
    color: blueviolet;

}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    color: aqua;
    list-style: none;
    justify-content: flex-start;
}

.itemSetup{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    border: 15px;
}

.boxSize{
    width: 35px;
}

.butSubSize{
    width: 85px;
}

.itemCounter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}