

.App-header {
  background: linear-gradient(180deg, #fca49a 0%, #aaeaf5 10%, #aaeaf5 90%, #fca49a 100%);
  display: flex;
  flex-direction:column;
  align-items: center;
/*     justify-content: center; */
  color: white;
}

.App-link {
  color: #61dafb;
}

.placeholderText{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

head{
  background: #fca49a;
  height: 100px;
}

.countColor{
  color: black;
}